Repository yairm210/Unciv, pull requests merged in 2024-06, with the labels that each got.

#11685 Update Spanish.properties
  android/assets/jsons/translations/Spanish.properties
Labels: mergeable translation

#11671 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation

#11670 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11669 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11684 Add translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: help wanted

#11688 Reworked AI war evaluation and plans
  android/assets/jsons/translations/template.properties
  core/src/com/unciv/logic/automation/city/ConstructionAutomation.kt
  core/src/com/unciv/logic/automation/civilization/DeclareWarPlanEvaluator.kt
  core/src/com/unciv/logic/automation/civilization/DeclareWarTargetAutomation.kt
  core/src/com/unciv/logic/automation/civilization/DiplomacyAutomation.kt
  core/src/com/unciv/logic/automation/civilization/MotivationToAttackAutomation.kt
  core/src/com/unciv/logic/automation/civilization/NextTurnAutomation.kt
  core/src/com/unciv/logic/automation/civilization/TradeAutomation.kt
  core/src/com/unciv/logic/automation/civilization/UseGoldAutomation.kt
  core/src/com/unciv/logic/automation/unit/RoadBetweenCitiesAutomation.kt
  core/src/com/unciv/logic/automation/unit/SpecificUnitAutomation.kt
  core/src/com/unciv/logic/automation/unit/UnitAutomation.kt
  core/src/com/unciv/logic/city/City.kt
  core/src/com/unciv/logic/civilization/Civilization.kt
  core/src/com/unciv/logic/civilization/diplomacy/DeclareWar.kt
  core/src/com/unciv/logic/civilization/diplomacy/DiplomacyManager.kt
  core/src/com/unciv/logic/civilization/diplomacy/DiplomacyTurnManager.kt
  core/src/com/unciv/logic/civilization/managers/ThreatManager.kt
  core/src/com/unciv/logic/map/MapPathing.kt
  core/src/com/unciv/logic/trade/Trade.kt
  core/src/com/unciv/logic/trade/TradeEvaluation.kt
  core/src/com/unciv/logic/trade/TradeLogic.kt
Labels: enhancement, AI

#11710 Provide missing Ukrainian translations
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11697 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11695 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11694 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation

#11693 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11723 Update translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11722 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11721 Update Simplified_Chinese.properties
  android/assets/jsons/translations/Simplified_Chinese.properties
Labels: mergeable translation

#11720 Update German translation
  android/assets/jsons/translations/German.properties
Labels: mergeable translation

#11716 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11715 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation

#11326 Giving the AI good trades is stored as credit
  core/src/com/unciv/logic/automation/civilization/TradeAutomation.kt
  core/src/com/unciv/logic/city/managers/CityConquestFunctions.kt
  core/src/com/unciv/logic/civilization/diplomacy/DeclareWar.kt
  core/src/com/unciv/logic/civilization/diplomacy/DiplomacyManager.kt
  core/src/com/unciv/logic/civilization/diplomacy/DiplomacyTurnManager.kt
  core/src/com/unciv/logic/trade/TradeEvaluation.kt
  core/src/com/unciv/logic/trade/TradeLogic.kt
  tests/src/com/unciv/logic/civilization/diplomacy/GoldGiftingTests.kt
Labels: AI

#11740 AI is more likely to sign Defensive pacts
  core/src/com/unciv/logic/automation/civilization/DiplomacyAutomation.kt
  core/src/com/unciv/logic/trade/Trade.kt
Labels: enhancement, AI

#11754 Renamed getDistanceToTilesWithinTurn to getDistanceToTilesAtPosition
  core/src/com/unciv/logic/automation/unit/UnitAutomation.kt
  core/src/com/unciv/logic/map/mapunit/movement/UnitMovement.kt
Labels: enhancement

#11729 Personality implementation
  android/assets/jsons/Civ V - Gods & Kings/Nations.json
  android/assets/jsons/Civ V - Gods & Kings/Personalities.json
  core/src/com/unciv/logic/automation/civilization/DeclareWarPlanEvaluator.kt
  core/src/com/unciv/logic/automation/civilization/DiplomacyAutomation.kt
  core/src/com/unciv/models/ruleset/nation/Personality.kt
  docs/Modders/Mod-file-structure/2-Civilization-related-JSON-files.md
Labels: feature, AI

#11753 Update Hungarian.properties
  android/assets/jsons/translations/Hungarian.properties
Labels: mergeable translation

#11750 Provide translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11749 Update Catalan.properties
  android/assets/jsons/translations/Catalan.properties
Labels: mergeable translation

#11738 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11737 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation

#11736 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11733 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11782 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11781 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11776 Update Hungarian.properties
  android/assets/jsons/translations/Hungarian.properties
Labels: mergeable translation

#11773 Update Spanish.properties
  android/assets/jsons/translations/Spanish.properties
Labels: mergeable translation

#11766 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11759 Update Catalan.properties
  android/assets/jsons/translations/Catalan.properties
Labels: mergeable translation

#11809 Provide translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11805 Update Simplified_Chinese.properties
  android/assets/jsons/translations/Simplified_Chinese.properties
Labels: mergeable translation

#11797 Update Spanish.properties
  android/assets/jsons/translations/Spanish.properties
Labels: mergeable translation

#11796 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11794 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11793 Update Hungarian.properties
  android/assets/jsons/translations/Hungarian.properties
Labels: mergeable translation

#11792 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation

#11840 Apply a few fixes to wording in Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11838 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11814 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11853 Provide translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11850 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11849 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11846 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11869 Update Catalan.properties
  android/assets/jsons/translations/Catalan.properties
Labels: mergeable translation

#11868 Update Simplified_Chinese.properties
  android/assets/jsons/translations/Simplified_Chinese.properties
Labels: mergeable translation

#11867 Provide translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11866 Update Italian.properties
  android/assets/jsons/translations/Italian.properties
Labels: mergeable translation

#11862 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11848 galician translate
  android/assets/jsons/translations/Galician.properties
Labels: mergeable translation

#11880 Update translations to Ukrainian
  android/assets/jsons/translations/Ukrainian.properties
Labels: mergeable translation

#11878 Update French.properties
  android/assets/jsons/translations/French.properties
Labels: mergeable translation

#11876 Update Simplified_Chinese.properties
  android/assets/jsons/translations/Simplified_Chinese.properties
Labels: mergeable translation

#11873 Update Indonesian.properties
  android/assets/jsons/translations/Indonesian.properties
Labels: mergeable translation

#11872 Update Brazilian_Portuguese.properties
  android/assets/jsons/translations/Brazilian_Portuguese.properties
Labels: mergeable translation
